body {
    margin: 0px;
    background-color: black;
}

#viewframe {
    width: 620px;
    height: 460px;
    position: relative;
    /* border: 1px dashed gray; */
    color: white;
    font-family: 'Noticia Text', serif;
}


#currently {
    width: 60%;
    height: 330px;
    text-align: center;
    float: left;
}
#currently .icon {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#currently .temp {
    font-size: 32px;
}
#currently .summary {
    font-size: 20px;
    font-weight: bold;
}


#commutes {
    width: 40%;
    text-align: center;
    float: left;
}
#commutes h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}
.commute {
    width: 50%;
    height: 330px;
    text-align: center;
    float: left;
}
.commute h3 {
    margin-top: 5px;
}
.commute .temp {
    font-size: 28px;
}


#weekly {
    width: 100%;
    height: 145px;
    position: absolute;
    bottom: 0;
}
.weekly-day {
    width: 12.5%;
    float: left;
    text-align: center;
}
.weekly-day h3 {
    margin-bottom: 10px;
    margin-top: 0px;
}
.weekly-day .icon {
    width: 50px;
    height: 50px;
    margin: 0px;
}
