<div ng-init="init()">
    <div id="currently-left">
        <div class="bigclock" id="top">
            <clock timezone="{{ clock.timezone }}"></clock>
            <p class="title">{{ clock.name }}</p>
        </div>
        <div class='temp' ng-bind='current.temperature | temp'></div>
    </div>

    <div id="currently-right">
        <skycon icon="current.icon" size='200' color='white' class='icon'></skycon>
        <div>Feels like {{current.truetemperature | temp}}</div>
        <div>{{current.windspeed}} mph {{current.winddirection}} winds</div>
        <div>UV Index: {{current.uvindex}}</div>
        <div class='summary' ng-bind='current.summary'></div>
    </div>

    <div id="daygraph">
        <highchart config="chartConfig"></highchart>
    </div>
</div>
