<div ng-init="init()">
    <div id="clocks">
        <div class="clock" id="chicago">
            <span class="time">{{ time.chicago }}</span>
            <p class="title">Chicago</p>
        </div>
        <div class="clock" id="portland">
            <span class="time">{{ time.portland }}</span>
            <p class="title">Portland</p>
        </div>
    </div>

    <div id="currently">
        <skycon icon="current.icon" size='200' color='white' class='icon'></skycon>
        <div class='temp' ng-bind='current.temperature | temp'></div>
        <div>Feels like {{current.truetemperature | temp}}. {{current.windspeed}} mph {{current.winddirection}} winds.</div>
        <div class='summary' ng-bind='current.summary'></div>
    </div>

    <div id="daygraph">
        <highchart config="chartConfig"></highchart>
    </div>
</div>