<div ng-init="init()">
    <div id="clocks">
        <div class="clock" id="top">
            <span class="time">{{ clocks.top.time }}</span>
            <p class="title">{{ clocks.top.name }}</p>
        </div>
        <div class="clock" id="bottom">
            <span class="time">{{ clocks.bottom.time }}</span>
            <p class="title">{{ clocks.bottom.name }}</p>
        </div>
    </div>

    <div id="currently">
        <skycon icon="current.icon" size='200' color='white' class='icon'></skycon>
        <div class='temp' ng-bind='current.temperature | temp'></div>
        <div>Feels like {{current.truetemperature | temp}}. {{current.windspeed}} mph {{current.winddirection}} winds.</div>
        <div class='summary' ng-bind='current.summary'></div>
    </div>

    <div id="daygraph">
        <highchart config="chartConfig"></highchart>
    </div>
</div>